.header{
    background-color: black;
    padding: 0px;
    margin: 0px;
}
.body{
    background-color: rgb(151, 120, 96);

    padding: 0px;
    margin: 0px;
  
    text-align: center;
}
.UnderHeader{
    background-color: rgb(90, 89, 89);
}

.links{
    display: inline;
    color: white;
    justify-content: center;
    width: 100%;
    height: 25px;
    margin: 5px;
    text-align: center;
}

.upperFooter{
    display: flex;
    width: 100%;
    height: 10px;
    background-color: gray;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.centro{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 7px;
    margin: 5px;
}

.Quadro1{
    display: inline-flex;
    background-color:rgba(131, 77, 27, 0.493);
    margin: 10px;
    border: 2px solid black;
    border-radius: 5%;
    
    
}
.images{
   width: 500px;
    height: auto;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5%;
}

.listas{
    padding: 0px;
     margin: 0px;  
}

.listaProducao{
    display: block;
    padding: 10px; 
    margin: 10px;

}
#produtoQuadro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Titulo{
    display: flex;
    color: white;
    justify-content: center;
}
#titulo1{
    display: block;
    margin: 1px;
    height: 5px;
}
#texto{
    display: block;
}
#cavalao{
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5%;
}